body {
    background-image: url('../images/background.gif');
    background-repeat: repeat;
    background-size: cover;
  }

  .fuelimg {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn-group {
    float: right;
  }

  .btn-group button {
    background-color: blue;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 8px;
    outline: none;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none;
  }
  
  .btn-group button:hover {
    background-color: purple ;
  }

  .counters {
    color: blue;
    background-color: blueviolet;
    border: 5px solid black;
    border-radius: 8px;
    font-size: xx-large;
    font-variant: normal;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center
  }