* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.intro {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgb(32, 1, 48);
	transition: 1s;
}

body {
	background-color: rgb(32, 1, 48);
	transform: translate3d(0px, 0px, 0px);
	transition: all 700ms ease;
}

#svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fill 0.7s ease forwards 6.5s;
}

#svg path:nth-child(1) {
	stroke-dasharray: 508.55;
	stroke-dashoffset: 508.55;
	animation: line-anim 2s ease forwards;
}

#svg path:nth-child(2) {
	stroke-dasharray: 297.21;
	stroke-dashoffset: 297.21;
	animation: line-anim 3s ease forwards;
}

#svg path:nth-child(3) {
	stroke-dasharray: 226.94;
	stroke-dashoffset: 226.94;
	animation: line-anim 4s ease forwards;
}

#svg path:nth-child(4) {
	stroke-dasharray: 508.55;
	stroke-dashoffset: 508.55;
	animation: line-anim 5s ease forwards;
}

#svg path:nth-child(5) {
	stroke-dasharray: 512.35;
	stroke-dashoffset: 512.35;
	animation: line-anim 6s ease forwards;
}

#svg path:nth-child(6) {
	stroke-dasharray: 463.96;
	stroke-dashoffset: 463.96;
	animation: line-anim 6s ease forwards;
}

#svg path:nth-child(7) {
	stroke-dasharray: 549.06;
	stroke-dashoffset: 549.06;
	animation: line-anim 8s ease forwards;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: white;
	}
}

.fuelimg {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 250px;
	margin-left: -100px;
}

.btn-group {
  float: right;
  border: none;
  outline: none;
}

.btn-group button {
	background-color: rgb(74, 1, 114);
	color: white;
	padding: 10px 24px;
	cursor: pointer;
	width: 100%;
	display: block;
	border-radius: 8px;
	border: none;
	outline: none;
}

.btn-group button:not(:last-child) {
	border-bottom: none;
}

.btn-group button:hover {
	background-color: rgb(51, 1, 77);
}

.counters {
	color: white;
	background-color: rgb(113, 43, 179);
	border: 3px solid rgb(20, 1, 31);
	border-radius: 8px;
	font-size: xx-large;
	font-variant: normal;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	position: sticky;
}

#musicbutton {
	background-color: rgb(74, 1, 114);
	color: white;
	cursor: pointer;
	display: block;
	border-radius: 8px;
	border: none;
	outline: none;
	float: left;
}

#nowplaying {
	color: white;
	cursor: default;
	display: block;
	outline: none;
	float: left;
}

.music {
    position: absolute;
    bottom: 0;
    left: 0;
	padding-left: 20px;
}

#resetbutton {
	background-color: rgb(74, 1, 114);
	color: white;
	cursor: pointer;
	display: block;
	border-radius: 8px;
	border: none;
	outline: none;
	float: left;
	z-index:-1;
	position:relative;
}

.reset {
	background-color: rgb(74, 1, 114);
	color: white;
	cursor: pointer;
	display: block;
	border-radius: 8px;
	border: none;
	outline: none;
	float: left;
	z-index:-1;
	position:relative;
}